html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: antiquewhite;
}
#box1 {
  width: 600px;
  height: 200px;
  background: url("../images/angular.jpg") no-repeat center;
}
#box2 {
  width: 600px;
  height: 200px;
  background: url("../images/react.png") no-repeat center;
}
#box3 {
  width: 600px;
  height: 200px;
  background: url("../images/vue.png") center;
}
.iconfont {
  border: 1px red solid;
}
